.sass-cache
node_modules
*.map

#=======================================
# File types Excludes
#=======================================


*.*~
code/.bash_history
.sass-cache
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
*.log
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.map


#=======================================
# Eclipse Core Excludes
#=======================================

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.buildpath
.editorconfig
.settings
.DS_Store
.idea
